/* Default Theme Styling */

.cui-default-theme .DayPicker {
  font-family: 'Roboto', 'Open Sans', arial, sans-serif;
}

.cui-default-theme .DayPicker .CalendarMonth_caption {
  color: #2c363e;
}

.cui-default-theme .CalendarDay__default {
  color: #2c363e;
}

.cui-default-theme .CalendarDay__blocked_out_of_range,
.cui-default-theme .CalendarDay__blocked_out_of_range:active,
.cui-default-theme .CalendarDay__blocked_out_of_range:hover {
  color: #9ea3a7;
}

.cui-default-theme .CalendarDay__selected,
.cui-default-theme .CalendarDay__selected:active,
.cui-default-theme .CalendarDay__selected:hover {
  background: #0d70f4;
  border: 1px solid #0d70f4;
  color: white !important;
}

.cui-default-theme .DayPickerKeyboardShortcuts_show__bottomRight::before {
  border-right: 33px solid #0d70f4;
}

/* Cobalt Theme Styling */

.cui-cobalt-theme .DayPicker {
  font-family: 'Roboto', 'Open Sans', arial, sans-serif;
}

.cui-cobalt-theme .DayPicker .CalendarMonth_caption {
  color: #2c363e;
}

.cui-cobalt-theme .CalendarDay__default {
  color: #2c363e;
}

.cui-cobalt-theme .CalendarDay__blocked_out_of_range,
.cui-cobalt-theme .CalendarDay__blocked_out_of_range:active,
.cui-cobalt-theme .CalendarDay__blocked_out_of_range:hover {
  color: #9ea3a7;
}

.cui-cobalt-theme .CalendarDay__selected,
.cui-cobalt-theme .CalendarDay__selected:active,
.cui-cobalt-theme .CalendarDay__selected:hover {
  background: #0d70f4;
  border: 1px solid #0d70f4;
  color: white !important;
}

.cui-cobalt-theme .DayPickerKeyboardShortcuts_show__bottomRight::before {
  border-right: 33px solid #0d70f4;
}
