h2.css-idch3x {
  font-weight: var(--wsr-font-weight-bold, 400);
  font-size: 36px;
  line-height: 20px;
  color: #162d3d;
  border-bottom: none;
  margin-bottom: 20px;
}

body,
.sbdocs.sbdocs-wrapper {
  background-color: #f0f4f7;
}

h3.section {
  margin: 5px;
  padding-bottom: 12px;
  font-size: 19px;
  font-weight: bold;
  color: #0d70f4;
  white-space: nowrap;
  overflow: hidden;
}

h3.section:after {
  margin-left: 24px;
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, rgba(116, 95, 181, 0.2), transparent 80%);
}

.sbdocs.sbdocs-div.layout {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 30px;
}

.layout > p {
  font-style: italic;
}
