@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,700&display=swap');
@import url('https://use.typekit.net/jym2jlf.css');

@font-face {
  font-family: 'Helvetica Now';
  src: url('fonts/HNforTELUS.woff2') format('woff2'),
    url('fonts/HNforTELUS.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Now Bold';
  src: url('fonts/HNforTELUS-Bd.woff2') format('woff2'),
    url('fonts/HNforTELUS-Bd.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Now Medium';
  src: url('fonts/HNforTELUS-Md.woff2') format('woff2'),
    url('fonts/HNforTELUS-Md.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
